{% extends "base.html" %}

{% block content %}
    <h1>Rock Paper Scissors Game</h1>
    <p>Play by adding /play/ then player 1's choice and player 2's choice to the url bar. For example: http://localhost:5000/rock/paper</p>
    <p>Ignore the menus below, I can't get them to work :'(</p>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <form>
      <label for="player_1_name">Player 1 name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
    </form>
    <form action="/player_1_choice">
        <label for="player_1_choice">Player 1 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </form>
  </body>

  <body>
    <form>
      <label for="player_2_name">Player 2 name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
    </form>
      <form action="player_2_choice">
        <label for="player_2_choice">Player 2 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </form>
    </body>

    <input type="submit">
{% endblock %}