{% extends "base.html" %}

{% block content %}
    <h1>Rock Paper Scissors Game</h1>
  <body>
    <form>
      <label for="player_1_name">Player 1 name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
    </form>
    <form action="/player_1_choice">
        <label for="player_1_choice">Player 1 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </form>
  </body>

  <body>
    <form>
      <label for="player_2_name">Player 2 name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
    </form>
      <form action="player_2_choice">
        <label for="player_2_choice">Player 2 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </form>
    </body>

    <input type="submit">
{% endblock %}