{% extends "base.html" %}

{% block content %}
    <h1>Rock Paper Scissors Game</h1>
    <form action="/player_1_choice">
        <label for="player_1_choice">Player 1 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </form>
      <form action="player_2_choice">
        <label for="player_2_choice">Player 2 choice:</label>
        <select id="testid" name="/">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
        <input type="submit">
      </form>
{% endblock %}